

/* -------------------- CONTENT ------------------- */

.iterations img{
	border: 4px solid #D8D8D9;
	padding: 1px;
}


.img a:hover{
	border: 4px solid #D8D8D9;
}
.projectCopy img {
	border: none;
}

.pageTitle img {
    float: left;
	clear: both;
margin: 0 0 }

.bigImage p a:hover {
	color: #E96422;
}

.iterations {
	float: left;
	border-left: 1px solid #E0E0E2;
	margin:0;
	padding-bottom: 15px;
	width: 250px;
}

ul.iterations  li {
	display: block;
	margin-top: 12px;
	padding-left: 15px;
}

ul.iterations  li.iterationsNavHeader {
	margin-top: 0px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 15px;
	padding-left: 12px;
	border-left: 3px solid #D8D8D9;
    color: rgb(64, 71, 61);
}

ul.iterations  li a{
	display: block;
}

ul.iterations  li:hover {
	border-left: 3px solid #D8D8D9;
	padding-left: 12px;
}

.projectCopy {
	float: left;
	border-left: 1px solid #E0E0E2;
width: 377px;
color: rgb(255, 255, 255);
}
/*----------------------------------------------------------------<--sidebar-->----------------------------------------------------------*/

.sidebar {
	float: right;
}

.mainNav {
	clear: both;
	float: left;
	font-size: 19px;
	font-weight:100;
	text-transform: uppercase;
	margin: 0;
	padding-top: 180px;
	width: 195px;
	/*border-left: 1px solid #E0E0E2;*/
	list-style: none;
	text-align: left;;
	
	
}
 ul.mainNav li a{
	width: 190px;
	display: block;
  	margin-bottom: 30px; 
	padding-left: 15px; 
	list-style: none;
	

	background-color: rgb(200,200,200)
	
}

 ul.mainNav li a:hover{
	padding-left: 12px; 
 	border-left: 3px solid #E0E0E2;
	
	color: rgb(255,255,255);
 }

.top {
	letter-spacing: 3px;
	color: rgb(64, 71, 61)
}

.projectCopy p {
	font-size: 15;
	font-weight: 200;
	padding-left: 15px;
	padding-bottom: 10px;
	text-align: justify;
	line-height: 18px;
	color: rgb(64, 71, 61)
}

.projectCopy h2 {
	color: rgb(64, 71, 61);
}

.projectCopy li {
	color: rgb(64, 71, 61);
	font-size: 15;
	padding-left: 15px;
}


.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
	border-bottom: 1px solid #E0E0E2;
	border-left: 1px solid #E0E0E2;
	color: rgb( 255, 255,255);
	
	
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.none {
	display: none;
}



li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: white;
    color: black;
}

li a:hover:not(.active) {
    background-color: #FFFFFF;
    color: white;